Repository slashmo/gsoc-swift-tracing, pull requests merged in 2020-07, with the labels that each got.

#56 Add InstrumentationSystem
  Sources/Instrumentation/InstrumentationSystem.swift
  Sources/Instrumentation/Locks.swift
  Tests/InstrumentationTests/InstrumentationSystemTests.swift
Labels: enhancement

#66 Link to project plan on README 📖
  README.md
Labels: documentation

#62 [WIP] Add TracingInstrument
  Package.swift
  Sources/Instrumentation/Instrument.swift
  Sources/Instrumentation/InstrumentationSystem.swift
  Sources/Instrumentation/Tracing/NoOpTracing.swift
  Sources/Instrumentation/Tracing/Span.swift
  Sources/Instrumentation/Tracing/TracingInstrument.swift
  Tests/InstrumentationTests/InstrumentationSystemTests.swift
  Tests/InstrumentationTests/SpanTests.swift
  Tests/InstrumentationTests/Tracing/TracedLock.swift
  Tests/InstrumentationTests/Tracing/TracedLockTests.swift
  Tests/InstrumentationTests/TracingInstrumentTests.swift
Labels: t:tracing

#71 Add SpanKind type
  Package.resolved
  Sources/Instrumentation/Tracing/NoOpTracing.swift
  Sources/Instrumentation/Tracing/Span.swift
  Sources/Instrumentation/Tracing/TracingInstrument.swift
  Tests/InstrumentationTests/SpanTests.swift
  Tests/InstrumentationTests/Tracing/TracedLockTests.swift
  Tests/InstrumentationTests/TracingInstrumentTests.swift
Labels: t:tracing

#73 Add SpanLink type
  Sources/Instrumentation/Tracing/NoOpTracing.swift
  Sources/Instrumentation/Tracing/Span.swift
  Tests/InstrumentationTests/Tracing/TracedLockTests.swift
  Tests/InstrumentationTests/TracingInstrumentTests.swift
Labels: t:tracing

#77 Expose public dictionary init for SpanAttributes
  Sources/Instrumentation/Tracing/Span.swift
Labels: enhancement, t:tracing

#81 !trace #80 adjust overloads on tracing instrumrnt startSpan
  Sources/Instrumentation/Tracing/TracingInstrument.swift
Labels: t:tracing

#84 Add Code Of Conduct 📖
  CODE_OF_CONDUCT.md
Labels: documentation

#93 Remove events getter from Span protocol
  Package.resolved
  Sources/Instrumentation/Tracing/NoOpTracing.swift
  Sources/Instrumentation/Tracing/Span.swift
  Tests/InstrumentationTests/Tracing/TracedLockTests.swift
Labels: t:tracing

#94 Remove links getter from Span protocol
  Sources/Instrumentation/Tracing/NoOpTracing.swift
  Sources/Instrumentation/Tracing/Span.swift
  Tests/InstrumentationTests/Tracing/TracedLockTests.swift
  Tests/InstrumentationTests/TracingInstrumentTests.swift
Labels: t:tracing

#100 Move TracingInstrument & related types to separate library
  Package.resolved
  Package.swift
  Sources/Instrumentation/Instrument.swift
  Sources/Instrumentation/InstrumentationSystem.swift
  Sources/Instrumentation/MultiplexInstrument.swift
  Sources/Instrumentation/NoOpInstrument.swift
  Sources/TracingInstrumentation/InstrumentationSystem+Tracing.swift
  Sources/TracingInstrumentation/NoOpTracingInstrument.swift
  Sources/TracingInstrumentation/Span.swift
  Sources/TracingInstrumentation/Timestamp.swift
  Sources/TracingInstrumentation/TracingInstrument.swift
  Tests/InstrumentationTests/InstrumentationSystemTests.swift
  Tests/TracingInstrumentationTests/SpanTests.swift
  Tests/TracingInstrumentationTests/TimestampTests.swift
  Tests/TracingInstrumentationTests/TracedLock.swift
  Tests/TracingInstrumentationTests/TracedLockTests.swift
  Tests/TracingInstrumentationTests/TracingInstrumentTests.swift
Labels: t:instrumentation, t:tracing
